<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8" />
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="project2.js"></script>
   <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">
   <title>Trivia</title>
</head>
<body>
   <div class="container" id="form1">
      <div class="item1"> 
         <p>JEOPARDY TRIVIA</p>
      </div>     
      <form class="item2" method="get" action="/question">
         <select id="cat" name="cat">       
           <%for(var i = 0; i < rows.length; i++){%>
            <option value='<%=rows[i].category_id%>'/><%=rows[i].categoryname%></option>
            <%}%> 
         </select>
         <select id="diff" name="diff">
            <%for(var i = 0; i < rows2.length; i++){%>
            <option value='<%=rows2[i].diffname%>'/><%=rows2[i].diffname%></option>
            <%}%>
         </select>
         <input id="classic" name="command" type="submit" value="Play Classic" />
      </form>
      <div class="item3" id="form2">
         <form method="get" action="/">
           <input id="back" name="command" type="button" value="Back"/>
         </form>
       </div>
     </div>
   </body>
</html>