<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8" />
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="./project2.js"></script>
   <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">
   <title>Trivia</title>
</head>
<body>
   <div id="form1" >
      <form method="get" action="/question">         
         <select id="cat" name="cat" style="width:150px;">       
            <%for(var i = 0; i < rows.length; i++){ if(rows.clues_count > 100){%>
            <option value='<%=rows[i].id%>'/><%=rows[i].title%></option>
            <%}}%>
         </select>
         <select id="diff" name="diff" style="width:150px;">
            <%for(var i = 0; i < rows2.length; i++){%>
            <option value='<%=rows2[i].levelvalue%>'/><%=rows2[i].difficultylevel%></option>
            <%}%>
         </select>
         <input id="jeopardy" name="command" type="submit" value="Play Jeopardy"/>
      </form>
   </div>
   <div id="form2">
      <form method="get" action="/selection">
         <input id="back" name="command" type="button" onclick="goBack()" value="Back"/>
      </form>
   </div>
</body>
</html>