<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8" />
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="project2.js"></script>
   <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">
   <title>Trivia</title>
</head>
<body  >
   <H1 id="header">Jeopardy Trivia</H1>
   <div id="text">
      <p id="title">Catetory: <%=category%></br>Point Value: <%=difficulty%></p></br>
      <textarea rows="4" cols="50" id="quest" name="quest" type="text" ><%=question%></textarea>
      <input id="hanswer" name="textans" type="hidden" value="<%=answer%>"/>
      <textarea rows="4" cols="50" id="textans" name="textans" type="text" value=""></textarea>
      <input id="jeopardy" name="answer" type="button" value="Submit Answer" onclick="getAnswer()"/>
   </div>
   <div id="anstext">
   </div>
   <div id="form2">
      <form method="get" action="/selection">
         <input id="back" name="answer" type="button" onclick="goBack()" value="Back"/>
      </form>
   </div>
</body>
</html>