#mail {
   
}

body {
   background-color: blue;
   width:auto;
   margin: auto;
}

#jeopardy, #back{
   font-size:30px;
}

#quest, #textans{
   font-size:50px;
   margin:auto;
}

#title {
   font-size: 60px;
   color:yellow;
}

#text {
   display:flex;
   flex-direction:column;
   color:white;
   padding: 5px;
   font-size: 50px;
   align-items:center;
}

input[id^="zone"]{
   visibility:hidden;
}

label {
   visibility: hidden;
}