#mail {
   
}

body {
   width: 100%;
}

#quest, #textans{
   background-color:blue;
   font-size:50px;
   
}

#title {
   font-size: 60px;
   color:yellow;
}

#text {
   display:flex;
   flex-direction:column;
   color:white;
   padding: 5px;
   font-size: 50px;
   align-items:center;
}

input[id^="zone"]{
   visibility:hidden;
}

label {
   visibility: hidden;
}