#mail {
   
}

#title {
   font-size: 40px;
}
#text {
   display:flex;
   flex-direction:column;
   width: 40%;
   background-color: blue;
   color:white;
   padding: 5px;
   font-size: 30px;
   align-content:center;
}

input[id^="zone"]{
   visibility:hidden;
}

label {
   visibility: hidden;
}