.item1 {
   grid-area: header;
}

.item2 {
   grid-area: menu;
}

.item3 {
   grid-area: main;
}

.item4 {
   display:hidden;
}

.item5 {
   grid-area: footer;
}
.container{
   margin-left:10px;
   margin-right:10px;
   display:grid;
   grid-template-areas:'header header header header header'
      'menu menu main main main'
      'menu menu footer footer footer';
   background-color:lightskyblue;
   grid-gap:5px;
}

.container > div{
   background-color:rgba(255, 255, 255, .8);
   text-align:center;
}
#header{

   background-color:white;
   font-family:Courier New, Courier, monospace;
   font-size:70px;
   text-align:center;
   border-bottom:5px solid black;
}

body{
   display:block;
   overflow:auto;
}

#jeopardy, #back, #new{
   font-size:30px;
}

#quest, #textans{
   font-size:20px;
}

#theader {
   font-size: 35px;
}

#text {
   padding: 5px;
   font-size: 40px;
   align-items:center;
}

input[id^="zone"]{
   visibility:hidden;
}

#answers{
   text-align:left;
}